<!-- View name == Action name in respective Controller -->
<!-- In this case: Greetings() action from MoviesController -->


@{
    ViewBag.Title = "Greetings: The Official Vidly Site";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Greetings! Welcome to Vidly!</h2>
